/* Existing styles */
h1 {
    display: inline-block;
    padding: 10px;
    background-color: aliceblue;
    border: 2px solid black;
}

.Photos-Row {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.frame {
    display: inline-block;
    border: 10px solid white;
    border-bottom: 50px solid white;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: fit-content;
    height: fit-content;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}


.frame img {
    transition: transform 0.3s ease; /* Smooth transition for zoom */
    border: 1px solid black;
    margin-bottom: 10px;
}

.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    border-top: 5px solid white; /* Matching border size */
    background-color: #f9f9f9;  /* Slight background to distinguish */
    box-sizing: border-box; /* Ensure proper sizing */
    width: 100%;
}

.controls button {
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.controls button:hover {
    background-color: #e0e0e0;
}


.frame:hover img {
    transform: scale(1.1); /* Slight zoom in on hover */
}

.frame.fullscreen img {
    transform: scale(1.5); /* Zoom level when clicked */
}

/* Fullscreen zoom effect */
.fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5); /*Zoom Effect*/
    z-index: 1001;
    width: auto;
    height: auto;
    max-height: 90vh;
    max-width: 90vh;
    border: 10px solid white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    background-color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /*Smooth transition */
    cursor: zoom-out;
}


/* Overlay for the fullscreen effect */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7); /* Dark overlay */
    z-index: 1000;
    display: none;
    cursor: zoom-out;
    transition: opacity 0.3s ease; /* Smooth fade-in effect */
}
